.button-component {
    width: fit-content;
    height: 5vh;
    min-height: 40px;
    max-height: 90px;
    padding: 1.1rem 1.6rem;
    border-radius: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: calc(0.7vw + 0.4rem);
    font-family: 'Aeonik Pro Regular', sans-serif;
    cursor: pointer;
}

.primary-black-btn {
    background-color: black;
    color: white;
    
    &:hover {
        background-color: rgba(17, 17, 17, 0.788);
    }
}

.primary-white-btn {
    background-color: white;
    color: black;

    &:hover {
        background-color: rgba(206, 206, 206, 0.788);
    }
}

.secondary-black-btn {
    outline: 1px solid black;
}

.secondary-white-btn {
    color: white;

    &:hover {
        background-color: rgba(206, 206, 206, 0.788);
        outline: none;
    }
}

.transparent-btn {
    background-color: rgba(192, 192, 192, 0.3);
    backdrop-filter: blur(5px);
    color: white;
    border: 1px solid white;

    &:hover {
        background-color: white;
        color: black;
    }
}