.button-component {
    width: fit-content;
    height: fit-content;
    padding: 0.8rem 1.6rem;
    border-radius: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: calc(10px + 0.4rem);
    font-family: 'Aeonik Pro Regular', sans-serif;
    cursor: pointer;
}

.primary-black-btn {
    background-color: black;
    color: white;
    
    &:hover {
        background-color: rgba(17, 17, 17, 0.788);
    }
}

.primary-white-btn {
    background-color: white;
    color: black;

    &:hover {
        background-color: rgba(206, 206, 206, 0.788);
    }
}

.secondary-black-btn {
    outline: 1px solid black;
    &:hover {
        background-color: rgba(214, 214, 214, 0.788);
    }
}

.secondary-black-btn.active {
    background-color: black;
    color: white;
    &:hover {
        background-color: rgba(17, 17, 17, 0.788);
    }
}

.secondary-white-btn {
    color: white;

    &:hover {
        background-color: rgba(206, 206, 206, 0.788);
        outline: none;
    }
}

.transparent-btn {
    background-color: rgba(192, 192, 192, 0.3);
    backdrop-filter: blur(5px);
    color: white;
    border: 1px solid white;

    &:hover {
        background-color: rgba(156, 156, 156, 0.3);
        backdrop-filter: blur(10px);
    }
}

.transparent-btn.active {
    background-color: white;
    color: black;

    &:hover {
        opacity: 0.9;
    }
}