.vertical-home-section {
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    color: white;
    overflow-y: hidden;
    background-size: cover;

    .vertical-home-section-content {
        width: 100%;
        max-width: 1024px;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;
        z-index: 1;

        & > * {
            margin: 5px;
        }
        & > *:last-child {
            margin-top: 1rem;
        }
    }
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: -150px;
        z-index: 0;
        object-fit: cover;
    }
    &.black {
        background-color: black;
        
        h1 {
            color: white;
        }
        p {
            color: white;
        }
    }
}

/* responsive MOBILE */
.vertical-home-section.mobile {
    max-height: 800px;
    overflow: hidden;
    .vertical-home-section-content {
        align-items: flex-start;
        text-align: start;
    }
}