.privacy-policy-section {
    width: 100%;
    max-width: 1024px;
    padding: 0 20px;
    padding-bottom: 5rem;
    height: fit-content;
    h4, h5 {
        min-width: 100%;
    }
    span {
        text-decoration: underline;
        cursor: pointer;
    }
}