:root {
    --rui-color-white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    will-change: transform;
}

@font-face {
    font-family: 'Aeonik Pro Bold';
    src: url('./font/AeonikProTRIAL-Bold.otf');
}

@font-face {
    font-family: 'Aeonik Pro Light';
    src: url('./font/AeonikProTRIAL-Light.otf');
}

@font-face {
    font-family: 'Aeonik Pro Regular';
    src: url('./font/AeonikProTRIAL-Regular.otf');
}

body {
    font-family: 'Aeonik Pro Bold', sans-serif;
    display: flex;
    justify-content: center;
}

body, html {
    width: 100vw;
    min-width: 100%;
    overflow: hidden;
    overflow-y: scroll;
}

.App {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: calc(8px + 3vw);
    font-family: 'Aeonik Pro Bold';
    color: black;
    line-height: 3.4rem;
    text-transform: uppercase;
}

h2 {
    font-size: calc(1px + 0.8vw);
    font-family: 'Aeonik Pro Light';
    color: white;
    font-weight: 100;
    max-width: 700px;
}

p {
    font-size: calc(3px + 1vw);
    font-family: 'Aeonik Pro Regular'; 
    color: black;
    max-width: 750px;
}