:root {
    --rui-color-white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    will-change: transform;
}

@font-face {
    font-family: 'Aeonik Pro Bold';
    src: url('./font/AeonikProTRIAL-Bold.otf');
}

@font-face {
    font-family: 'Aeonik Pro Light';
    src: url('./font/AeonikProTRIAL-Light.otf');
}

@font-face {
    font-family: 'Aeonik Pro Regular';
    src: url('./font/AeonikProTRIAL-Regular.otf');
}

body {
    font-family: 'Aeonik Pro Bold', sans-serif;
    display: flex;
    justify-content: center;
}

body, html {
    width: 100vw;
    min-width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    word-wrap: break-word;
}

.App {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: calc(25px + 2.1vw);
    font-family: 'Aeonik Pro Bold';
    color: black;
    line-height: calc(1rem + 3vw);
    text-transform: uppercase;
}

h2 {
    font-size: calc(18px + 0.1vw);
    font-family: 'Aeonik Pro Regular';
    font-weight: 600; 
    color: black;
}

h3 {
    font-size: calc(15px + 0.1vw);
    font-family: 'Aeonik Pro Light'; 
    font-weight: 100;
    color: black;
    max-width: 750px;
}

h4 {
    font-size: calc(14px + 0.1vw);
    font-family: 'Aeonik Pro Light';
    color: black;
    font-weight: 100;
    max-width: 700px;
}

h5 {
    font-size: calc(14px + 0.1vw);
    font-family: 'Aeonik Pro Regular';
    color: white;
    max-width: 700px;
}

a {
    font-size: calc(12px + 0.1vw);
    font-family: 'Aeonik Pro Light';
    color: rgb(173, 173, 173);
    font-weight: 100;
    max-width: 700px;
}

p {
    font-size: calc(14px + 0.4vw);
    font-family: 'Aeonik Pro Regular'; 
    color: black;
    max-width: 750px;
}